/.angular/cache
node_modules/*
**/node_modules/*
.DS_Store
log/*
.idea
service.log*
*.log
.history
public
dist
unit/
/coverage/
!src/**/*
/src/coverage
/server/properties/properties.json
.eslintcache
/out-tsc/**/*
/.stylelintcache
